/*
	This code has been designed from a mobile view up. 

	Each breakpoint has been separated out and added to with the intention of giving minimal styling for hand-held devices.
*/

@import "partials/variables.scss";
@import "partials/fonts.scss";
@import "modules/buttons.scss";
@import "modules/inputs.scss";

body {
	background-color: $background-blue;
	font-size: 1em;
	text-align: center;
	font-family: "Roboto", Arial, sans-serif;
	color: $text-white;

}

// HEADER STYLES

.header {
	// border: 1px solid red;

	width: 100%;
	max-height: 140px;
	background-color: $background-darkblue;
	border-bottom: 6px solid $text-white;

	img {
		width: 80%;
		max-width: 500px;
		height: auto;
		margin: 15px;
	}

}

.minimise-header {
	max-height: 100px;
	overflow: hidden;
	transition: max-height 0.5s;

	img {
		margin: 3px;
	}
}



// HEADING STYLES

.heading {
	margin: 15px;
	font-size: 1.4em;
	line-height: 1.3em;
}

.sub-heading {
	margin: 15px 0;
	font-size: 1.1em;
	line-height: 1.3em;
}


// SECTION STYLES

.main-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px;

	.entry-section {
	// border: 1px solid red;
	max-height: 300px;
	box-sizing: border-box;

	}

	.details-section {
		visibility: hidden;
		max-height: 800px;
		// border: 1px solid red;

		.inputs-container {
			// display: flex;
			// flex-direction: column;			
		}

		.player-number, input {
			// display: block;
			width: 80%;
			margin: 8px auto;
		}

	}

	.tracker-section {
		visibility: hidden;
		max-height: 800px;
		// border: 1px solid red;

		.game-pairing {
			padding: 15px;
			margin: 15px auto;
			width: 80%;
			background-color: $input-blue;
			box-shadow: 0 0 20px $lightblue;
			list-style: none;
			text-align: left;

			.game-number {
				color: $grey;
				text-align: right;
			}

			li {
				margin: 15px;
				font-size: 1.2em;
			}
		}

	}

	.section-completed {
		max-height: 0;
		overflow: hidden;
		opacity: 0;
		transition: opacity 300ms;
		transition: max-height 1s;

	}

	.section-active {
		visibility: visible;
	  opacity: 1;
	  transition: visibility 2s, opacity 300ms;
	}

}

// FOOTER STYLES

.footer-container {
	width: 100%;
	background-color: $background-darkblue;
	border-top: 6px solid $text-white;

	.footer {
		// display: flex;
		// justify-content: center;
		// margin: 0 auto;

		img {
			height: 30px;
			width: auto;
			margin: 15px 15px 5px;
		}

		.footer-copy {
			padding-bottom: 8px;
		}
	}
}

// MEDIA QUERIES

@media (max-width: 767px) and (min-width: 481px) {
	// This stylesheet is loaded for larger devices. It's set to 481px because at 480px it would load on a landscaped iPhone.

	.heading {
		font-size: 1.6em;
	}

	.sub-heading {
		font-size: 1.3em;
	}

	.main-content {

		.details-section {

			.inputs-container {

				.player-number, input {
					display: inline-block;
					width: auto;
					padding: 5px 0;
					margin: 10px 5px;
				}
			}
		}

		.tracker-section {
			.game-pairing {
				width: 70%;
			}
		}
	}
}

@media (max-width: 1029px) and (min-width: 768px) {
	// This size will work on iPads, other tablets, and desktops.

	.heading {
		font-size: 1.8em;
	}

	.sub-heading {
		font-size: 1.5em;
	}

	.main-content {

		.details-section {

			.inputs-container {

				.player-number, input {
					display: inline-block;
					width: auto;
					padding: 5px;
					margin: 10px;
				}
			}
		}

		.tracker-section {
			.game-pairing {
				width: 60%;
			}
		}
	}
}

@media (min-width: 768px) {
	// This is the desktop size. It's larger than an iPad so it will only be seen on the Desktop.
	
	.heading {
		font-size: 1.8em;
	}

	.sub-heading {
		font-size: 1.5em;
	}

	.main-content {

		.details-section {

			.inputs-container {

				.player-number, input {
					display: inline-block;
					width: auto;
					padding: 5px;
					margin: 10px;
				}
			}
		}

		.tracker-section {
			.game-pairing {
				width: 60%;
			}
		}
	}
}


