
/* 
This is the basic stylesheet for inputs across the app. They can be over-written in styles.scss.
*/

.form__input {
	display: block;
	height: 30px;
	margin: 20px auto;
	background-color: $input-blue;
	border: transparent;
	border-radius: 6px;
	font-size: 1em;
	color: $text-white;
	text-align: center;

	&::placeholder {
		color: $text-white;
	}

	&:focus {
		background-color: $text-white;
		outline: none;
		color: $input-blue;

		&::placeholder {
			color: $input-blue;
		}
	}
}

.form__input--entry {
	margin-top: 20px;
	width: 60px;
}

.has-error {
	border-color: $input-blue;
	box-shadow: 0 0 25px $darkblue;
	background-color: $text-white;
	color: $input-blue;

	&::placeholder {
		color: $input-blue;
	}
}

.form__text--error.has-error {
	position: relative;
	width: 60%;
	padding: 10px;
	margin: 10px auto;
	box-shadow: none;
	background: $error;
	line-height: 1.2em;
	font-size: 1em;
	color: $text-white;
}

.form__text--error:after {
	position: absolute;
	bottom: 100%;
	left: 50%;
	height: 0;
	width: 0;
	margin-left: -10px;
	border: solid transparent;
	border-width: 10px;
	border-color: $error;
	border-bottom-color: $error;
	content: " ";
}

.form--tick {
	visibility: hidden;
	height: 20px;
	width: auto;
	margin-left: 5px
}

.form--tick--completed {
	visibility: visible;
}

.form--tick--error {
	visibility: hidden;
}

// ********************************
// MEDIA QUERIES
// ********************************

// This stylesheet is loaded for larger devices. It's set to 481px because at 480px it would load on a landscaped iPhone.
@media (min-width: 481px) {

	.form__input {
		font-size: 110%;
	}

	.form__text--error.has-error {
		font-size: 110%;
	}
}

// This size will work on iPads, other tablets, and desktops.
@media (min-width: 768px) {

	.form__input {
		font-size: 120%;
	}

	.form__text--error.has-error {
		font-size: 120%;
	}
}

// This is the desktop size. It's larger than an iPad so it will only be seen on the Desktop.
@media (min-width: 1030px) {
	
}
