
/*

This contains the colour variables used across the app.

*/

$background-blue: #3f689b;
$background-darkblue: #2c4a70;

$darkblue: #122748;
$lightblue: #6dcff6;

$input-blue: #2c4a6f;

$button-blue: #6dcff6;

$text-white: #d9dadc;

$error: #cc5c35;

$grey: #717272;