/*

This contains the colour variables used across the app.

*/

// main body colours
$background-blue: #3f689b;
$background-darkblue: #2c4a70;
$text-white: #d9dadc;

// input colours
$input-blue: #2c4a6f;
$lightblue: #6dcff6;
$darkblue: #122748;

// button colours
$button-blue: #6dcff6;

// error block colour
$error: #cc5c35;

